html,
body {
  height: 100%;
}

.splash{
  height: 100%;
  background-color: #00b0eb;
}

.viewbutton {
  background-color: #b0eb00;
  color: white;
}

.viewbutton:hover{
  color: 	white;
  background-color:#3aeb00;
}